.dp-cur, .chip dt, .te, .te-t, .te-rev-s, .rb-n, .rb-i, .agenda, .event-title{
white-space:normal !important;
}

.view-cap {
   background-color:black;
}

.view-container-border {
   background-color:black;
}

.mv-dayname {

}

.st-bg {
  border-left:none;
}

.st-dtitle {
  border:none;
  background:white;
}

.st-dtitle-today {
  background:yellow; border-left:1px solid yellow; border-right:1px solid yellow;
}

.st-dtitle-next {

}

.mv-daynames-table {
  color:white;
  background:black;
}

.mv-event-container {
  border-top:1px solid black;
}
